h1 {
  color: blue;
}

.header-logo {
  width: 15vw;
  margin: auto;
  margin-top: 1rem;
}

.contact-header {
  display: block;
  margin: 0px auto;
}

#hero-image {
  display: block;
  width: 52rem;
  margin: auto;
}

#border {
  margin-top: 1rem;
}
